<% include layout/header.ejs %>

<div class="container">
  <div
    id="content"
    class="content-help"
    style="background-color: white; margin: 5px"
  >
    <h1 class="title-help">HƯỚNG DẪN MUA SẮP</h1>
    <div class="one-content-help">
      <b class="title-one-content-help" style="font-size: 20px">
        I. Để mua hàng, bạn không cần phải đến trực tiếp các Showroom của chúng
        tôi, bạn có thể chọn mua hàng trực tuyến bằng một trong những phương
        thức mua hàng sau:
      </b>
      <br />
      <br />
      <div class="word" style="font-size: 16px">
        <b style="font-size: 16px">Phương Án 1</b>: Gọi đến tổng đài
        2274802010490 hoặc 2274802010757 từ 00:00 giờ sáng đến 23:59 giờ tối (cả
        Chủ nhật và ngày lễ) để đặt hàng. Với đội ngũ nhân viên chuyên nghiệp,
        giàu kinh nghiệm, chúng tôi luôn sẵn sàng phục vụ, tư vấn và hỗ trợ bạn
        mua được sản phẩm phù hợp.
        <br />
        <br />
        <b>Phương Án 2</b>: Đặt hàng trực tuyến trên trang web:
        https://www.vlu.edu.vn/
        <br />
        <br />
        <b>Bước 1</b>: Truy cập trang web và chọn sản phẩm bạn muốn mua.
        <br />
        <br />
        <b>Bước 2</b>: Nhấp chuột vào sản phẩm bạn muốn mua, màn hình sẽ hiện ra
        các tùy chọn sau:
        <br />
        <p>
          Nếu bạn muốn tiếp tục mua sắm: Hãy nhấp vào "Mua ở đâu?" rồi làm theo
          hướng dẫn.
        </p>
        <br />
        <b>Bước 3</b>: Chọn thông tin tài khoản thanh toán
      </div>
    </div>

    <br />
    <div class="two-content-help" style="font-size: 16px">
      <b class="title-two-content-help"> II. Thanh Toán </b>
      <br />
      Sau khi xác nhận đơn hàng, VanLang sẽ giao hàng đến địa điểm của quý
      khách, vui lòng nhận hàng và thanh toán cho nhân viên giao hàng. Miễn phí
      vận chuyển toàn quốc.
      <br />
      <br />
      <img src="/images/dathang.png" width="50%" />
      <br />
      <br />
      Các bên trong hợp đồng mua bán phải tuân thủ các quy định về nghĩa vụ của
      các bên trong giao dịch dân sự và các quy định về trách nhiệm được quy
      định trong Luật Thương mại năm 2005, bao gồm: nghĩa vụ của người bán và
      nghĩa vụ của người mua.
    </div>
    <div class="three-content-help">
      <b class="title-three-content-help">
        <h3>III. Nghĩa vụ của người bán:</h3>
      </b>
      <div style="font-size: 17px">
        1. Giao hàng đúng đối tượng và chất lượng: Người bán phải giao hàng đúng
        đối tượng và chất lượng như đã thỏa thuận trong hợp đồng và theo quy
        định của pháp luật. <br />
        <br />
        2. Giao đúng số lượng hàng hóa như đã thỏa thuận trong hợp đồng: Người
        bán phải giao số lượng hàng hóa đã thỏa thuận; trong trường hợp người
        bán giao sai số lượng, người mua có quyền từ chối và trả lại hàng cho
        người bán. Nếu không có khiếu nại nào, việc thay đổi số lượng hàng hóa
        được coi là đã được chấp nhận.
        <br />
        <br />
        3. Giao chứng từ cùng với hàng hóa.
        <br />
        <br />
        4. Giao hàng đúng thời gian và địa điểm
        <br />
        <br />
        5. Kiểm tra hàng hóa trước khi giao.
        <br />
        <br />
        6. Nghĩa vụ bảo hành hàng hóa.
        <br />
        <br />
        7. Nghĩa vụ đảm bảo quyền sở hữu hàng hóa.
      </div>
    </div>
    <br />
    <div class="four-content-help" style="font-size: 17px">
      <b class="title-four-content-help">
        <h3>IV. Nghĩa vụ của người mua:</h3>
      </b>
      1. Nhận hàng và thanh toán tiền
      <br />
      <li>
        Người mua có nghĩa vụ thanh toán cho hàng hóa đã mua và nhận hàng theo
        thỏa thuận. Tuân thủ các phương thức thanh toán, thực hiện thanh toán
        theo thứ tự và thủ tục đã thỏa thuận và phù hợp với pháp luật.
      </li>
      <br />
      <li>
        Trong trường hợp hàng hóa bị mất hoặc hư hỏng sau khi rủi ro được chuyển
        từ người bán sang người mua, người mua vẫn phải thanh toán giá mua, trừ
        trường hợp mất mát hoặc hư hỏng đó do lỗi của người bán gây ra.
      </li>
      <br />
      2. Bảo đảm quyền sở hữu trí tuệ đối với hàng hóa. Nhìn chung, nghĩa vụ
      quan trọng và hàng đầu của các bên vẫn là tuân thủ nghiêm ngặt các nội
      dung đã thỏa thuận trong hợp đồng, phù hợp với pháp luật và đạo đức xã
      hội.
      <br />
    </div>
  </div>
</div>
<% include layout/footer.ejs %>

<style type="text/css">
  #categorymenu {
    display: none !important;
  }
</style>
